POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=researchers_diary

SECRET_KEY=changeme
CORS_ORIGINS=http://localhost:3000
BACKEND_URL=http://backend:8000

ORCID_CLIENT_ID=
ORCID_CLIENT_SECRET=
ORCID_ENV= # "production" / "sandbox"
